

.d-block{
    height: 600px;
}

.carousel-inner{
    background-color: rgb(214, 252, 183);
}

.visually-hidden{
    color: black;
}

.container-fluid{
    color: black;
}

body{
    background-color: rgb(248, 255, 188);
}

.logo{
    height: 50px;
}

.tituloHistoria{
    text-align: center;
}

.Historia{
    text-align: justify;
}

.textoInfo{
    text-align: justify;
}

.nido{
    height: 400px;
    border: rgb(38, 85, 33) 2px solid;
}

.subSecciones{
    background-color: rgba(58, 121, 66, 0.3);
}
