
/* Carrousel de fotos */

.d-block{
    /*height: 600px;*/
}

.carousel-inner{
    background-color: rgb(214, 252, 183);
}

.visually-hidden{
    color: black;
}

.container-fluid{
    color: black;
}

/* Body en general */

body{
    background-color: rgb(248, 255, 188);
}

/* Navbar */

.logo{
    height: 50px;
}

/* Sección de Historia */

.tituloHistoria{
    text-align: center;
}

.Historia{
    text-align: justify;
    position: relative;
    z-index: 1;
}

.textoInfo{
    text-align: justify;
}

.nido{
    height: 280px;
    border: rgb(38, 85, 33) 2px solid;
}

.subSecciones{
    background-color: rgba(106, 205, 127, 0.8);
    color: rgb(0, 0, 0);
    font-size: 16px;
    position: relative;
    z-index: 1;
}

.apartadoHistoria{
    background-image: url('../img/bosque1.jpg');
    background-size: cover;
    position: relative;
    padding: 2%;
}

.fondo-opaco {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.2); /* Opacidad del fondo */
}

.contenidoHistoria{
    background-color: rgba(255, 255, 255, 0.7);
    padding: 2%;
    color: black;
    font-size: 20px;
}

/* Sección de Curiosidades */

.prueba{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgb(5, 49, 0) 0%, rgb(11, 98, 1) 40%, rgb(24, 226, 2) 100%);
    padding: 2%; 
    color: white;
}

.tituloCuriosidades{
    text-align: center;
}

.fotoC{
    height: 600px;
}

.infoC{
    background-color: rgba(0, 0, 0, 0.5);
    color: rgb(255, 255, 255);
    font-size: 16px;
    position: relative;
    z-index: 1;
}

.textoInfo2{
    padding: 2%;
}